body {
  width: 80%;
  padding: 0;
}

.elem {
  border: 2px solid black;
  background-color: white;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 60px;
  cursor: grab;
}

.elem:hover {
  background-color: bisque;
}

.jatekter {
  display: grid;
  /*width: 150px;
  height: 150px;
  border: 5px solid darkolivegreen;*/
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}
.infoTarolo {
  border: 2px double blue;
}
